@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 .container {
}
#floating_alert {
    position: absolute;
    left: 50%;
    top: 20px;
    z-index: 5000;

    transform: translateX(-50%);
}
